/*GENERIC RULES*/

* {
	margin: 						0;
	padding: 						0;
}

body {
	background-color: 				#F2D4A6;
	color:  						#210301;
	font-family: 					'Cabin', sans-serif;
	min-height: 					100%;
	width:  						100%;
}

/*NAVIGATION BAR*/

nav {
	height:  						80px;
}

nav div {
	display:  						inline;
	min-height:  					400px;
}

nav i {
	color:  						#85AFF0;
	height:  						20px;
	margin-left:  					2%;
	margin-top:  					30px;
}

nav h1 {
	display:  						inline-block;
	font-family: 					'Lobster', cursive;
	font-size:  					20px;
	margin-top:  					30px;
}

nav ul {
	float:  						right;
	list-style-type: 	 			none;
	margin-right:  					2%;
}

nav li {
	display:  						inline-block;
	font-size:  					10px;
	font-weight: 	 				300;
	margin: 	 					15px 0 0 30px;
	padding:  						20px 0 10px 0;
	text-transform:  				uppercase;
}

a {
	color:  						#210301;
	text-decoration:  				none;
}

a:hover {
	color:  						#85AFF0;
}

hr {
	border:	 						1px solid #210301;
	margin:  						20px auto 0 auto;
	width:  						96%;
}

/*HEADER*/

header h2 {
	color:  						#210301;
	font-size:  					18px;
	margin:  						0 auto;
	margin-top:  					30px;
	text-align:  					center;
}

header span {
	color:  						#85AFF0;
}

header h3 {
	font-size:  					12px;
	padding-top:  					6px;
	text-align:  					center;
}

/*PICTURE OF COFFEE DRYING*/

.drydiv {
	text-align:  					center;
}

.drying {
	border-radius:  				5px;
	height:  						200px;
	margin:  						30px;
	width:  						600px;
}

/*PARAGRAPHS BELOW DRYING PIC	*/

.ammw {
	text-align:  					center;
}

div.ammw {
	display:  						inline-block; 
	padding:	 					0 40px;
	width:  						25%;
}

.ammw > h2 {
	color:  						#85AFF0;
	font-family: 					'Lobster', cursive;
	font-size:  					20px;
	padding-bottom: 				12px; 
	text-align:  					left;
}	

.ammw p {
	font-size:  					12px;
	line-height:  					18px;
	text-align: 					left;
}

/*GENERIC RULES FOR PICS OF LATTE ART*/

.pics {
	margin:	 						0 auto;
}

div.picrow {
	margin:  						0 auto;
	margin-top:  					30px;
	text-align-last:  				center;
	width:  						96%;
}

/*CONTAINER FOR PICS AND LABELS*/
div.picbox {
	background-color:  				white;
	border-radius:  				5px;
	display:  						inline-block;
	height:  						120px;
	text-align-last:  				left;
	width:	 						120px;
}

/*LATTE ART PICS*/

img.smallpics {
	border-top-left-radius: 	 	5px;
	border-top-right-radius:   		5px;
	height:  						90px;
	width:  						120px;
}

/*LABELS UNDER SMALL PICS */

.picbox h2 {
	font-family: 					'Lobster', cursive;
	font-size:  					12px;
	padding-left:	 				8px;
	text-transform:  				capitalize;
}

.picbox p {
	color:  						#85AFF0;
	font-size:  					8px;
	line-height:  					8px;
	padding-left:  					8px;
}

/*THANKS PARAGRAPH */

.thanks {
	text-align-last:  				center;
}

.thanks h1 {
	color:  						#85AFF0;
	font-family: 					'Lobster', cursive;
	font-size:  					20px;
	margin:  						30px 0;
}

/*FOOTER GENERAL STYLES*/

footer {
	background-color: 				#210301;
	height:  						350px;
}

/*FOOTER "CONTACT"*/

footer h1 {
	color:  						#85AFF0;
	font-family: 					'Lobster', cursive;
	font-size:  					16px;
	padding:  						30px 4%;
}

/*FOOTER CONTACT FORM*/

footer div.form {
	display:  						inline-block;
	width:  						50%;

}

.forminput {
	background-color: 				#F2D4A6;
	border:  						none;
	border-radius:  				2px;
	display:  						block;
	margin:	 						0 0 10px 4%;
	width:  						96%;
}

::-webkit-input-placeholder {
	color:							#210301;
}

/*FOOTER SUBMIT BUTTON*/

.button {
	background:		  				none;
	border:  						none;
	color:  						#F2D4A6;
	margin-left:  					4%;
}

.button:hover {
	color:  						#85AFF0;
	cursor:  						pointer;
}

/*SOCIAL MEDIA ICONS*/

.socialmedia i {
	background-color:  				#85AFF0;
	border-radius:  				90px;
	float:  						right;
	height:  						36px;
	line-height:  					36px;
	margin:  						157px 20px;
	text-align:  					center;
	vertical-align:  				middle;
	width:  						36px;
}

.socialmedia a:hover {
	color:  						#F2D4A6;
}